@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "react-slideshow-image/dist/styles.css";

@font-face {
  font-family: "noto-sans";
  src: url("/fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "modak";
  src: url("/fonts/Modak.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "opensans";
  src: url("/fonts/opensans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "over";
  src: url("/fonts/over.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neutra";
  src: url("/fonts/Neutra.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  opacity: 1;
  background-color: #efefef;
  opacity: 1;
  background-image: linear-gradient(#ffffff 2px, transparent 2px),
    linear-gradient(90deg, #ffffff 2px, transparent 2px),
    linear-gradient(#ffffff 1px, transparent 1px),
    linear-gradient(90deg, #ffffff 1px, #efefef 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  font-family: "Neutra";
  font-weight: 100;
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.font-gilroy {
  font-family: "Gilroy-Regular";
}

.font-gilroy-bold {
  font-family: "Gilroy-Bold";
}

.font-modak {
  font-family: "modak";
}

.font-noto {
  font-family: "noto-sans";
}
.font-over {
  font-family: "over";
}
.font-Neutra {
  font-family: "Neutra";
}
